body{
 font-family: "Red Hat Display, Tajawal, Arial, Helvetica, sans-serif";
 font-size:14px;

}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    width:75%;
    font-size:24px;
  }
  

  
  .item1 {
    grid-column: 1 / 3;
    background-color: #F4B335;
  }
  .item{
    color: #F4B335;
  }
  h2{
    color: white;
    text-align: left;
    padding: 5px;
  }
  