body{
  font-family: "Red Hat Display, Tajawal, Arial, Helvetica, sans-serif";

}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  font-size:24px;
  margin: auto;
  width: 50%;
}

.col{
  padding:10px 70px 0 0;
}

.item1 {
  grid-column: 1 / 3;
  background-color: #F4B335;
  font-size:24px;
  color: white;
  text-align: left;
  padding: 10px;
}

.note {
  grid-column: 1 / 3;
  text-align: left;
  font-size:13px;
}

.title{
  grid-column: 1 / 3;
  text-align: center;
}

.btn{
  border:1;
  border-radius: 25px; 
  border-color: #F4B335; 
  padding:10px 55px;
  background-color: white;
  color:#F4B335;

}

h1{
  color: #F4B335;
  font-size:16px;

}
.item{
  color: #F4B335;
  font-size:16px;
  font-weight:bold;
}
.price{
  font-size:13px;
}
.description{
  font-style: italic;
  font-size:14px;
  font-weight:400;
}
